<!DOCTYPE html>
<html lang="en">
<head>
  <title>Garments</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="topnavber.css">
  <link rel="stylesheet" href="leftnavber.css">
  <link rel="stylesheet" href="style.css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  
  
</head>
 <style type="text/css">
  #catagory{
    visibility: hidden;
    display: none;
  }
</style>   
<body>

<div class="row">
<div class="col-sm-2"></div>
<div class="col-sm-10">
<ul>

        <a href="#/">Home</a>
        <span class="active">/Female Product</span>
</ul>
</div>
</div>

<div ng-app="" ng-init="products=[
{id: 18,title:'female-1',image: 'images/Female/1.png',price: 100},
{id: 19,title:'female-2',image: 'images/Female/2.png',price: 110},
{id: 20,title:'female-3',image: 'images/Female/3.png',price: 120},
{id: 21,title:'female-4',image: 'images/Female/4.png',price: 130},
{id: 22,title:'female-5',image: 'images/Female/5.png',price: 140},
{id: 23,title:'female-6',image: 'images/Female/6.png',price: 150},
{id: 24,title:'female-7',image: 'images/Female/7.png',price: 160},
{id: 25,title:'female-8',image: 'images/Female/8.png',price: 170},
{id: 26,title:'female-9',image: 'images/Female/9.png',price: 180},
{id: 27,title:'female-10',image: 'images/Female/10.png',price: 190},
{id: 28,title:'female-11',image: 'images/Female/11.png',price: 200},
{id: 29,title:'female-12',image: 'images/Female/12.png',price: 210},
{id: 30,title:'female-13',image: 'images/Female/13.png',price: 220},
{id: 31,title:'female-14',image: 'images/Female/14.png',price: 230}]">

<div class="row">

    <div class="col-sm-2"></div>

    <div class="col-sm-10">

    <div class="col-sm-3"  ng-repeat="product in products">
    <br>
    <center>

    <img class="img operation" ng-src="{{product.image}}" alt="{{product.title}}" 
    ng-click="display(product.image)"
    data-toggle="modal" data-target="#display">
    <p>per piece</p>
    <p><strong>{{product.price| currency:"&#2547"}}</strong></p>

    <br>      
    <!--<p><b>{{product.title}}</b></p>--> 
    <button ng-click="addToCart(product);" class="btn btn-primary">Add to cart</button>
    <button ng-click="deleteToCart(product,$index);" class="btn btn-danger">Remove from cart</button>
    </center>

    </div>

    </div>


</div>
</div>





</body>
</html>