<!DOCTYPE html>
<html lang="en">
<head>
  <title>Garments</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="topnavber.css">
  <link rel="stylesheet" href="leftnavber.css">
  <link rel="stylesheet" href="style.css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  
  
</head>

   
<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="index.html">Logo</a>  
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="">Contact At : 01817005326</a></li>
      </ul>
    </div>
  </div>
</nav>


<nav class="navbar navbar-default sidebar left" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">Logo</a>      
    </div>
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a  data-toggle="modal" data-target="#cart">{{cart.length}} items
        <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-shopping-cart"></span></a></li>
        <li>
          <a href="#male" class="dropdown-toggle" data-toggle="dropdown">Male<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-chevron-right"></span></a>
        </li>          
        <li ><a href="#female">Female<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-chevron-right"></span></a></li>        
      </ul>
    </div>
  </div>
</nav>




</body>
</html>