<!DOCTYPE html>
<html lang="en" ng-app="hello" ng-controller="helloCtrl">
<head>
  <title>Garments</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-route.min.js"></script>

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="topnavber.css">
  <link rel="stylesheet" href="leftnavber.css">
  <link rel="stylesheet" href="style.css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  
  
</head>

   
<body>

<div ng-include="'header.html'"></div>



<br>
<br>
<br>


<div id="catagory">

<div class="row">

<div class="col-sm-2"></div>

<div class="col-sm-3">
<a href="#male">
<img src="images/Male/1.png" class="img">
<p style="color:black">Male</p>
</a>
</div>

<div class="col-sm-3">
<a href="#female">
<img src="images/Female/1.png" class="img">
<p style="color:black"> Female</p>
 </a>
</div>

<div class="col-sm-6"></div>

</div>

</div>



<button type="button" data-toggle="modal" data-target="#cart" class="btn btn-lg chk" >{{cart.length}} items,{{getCartPrice()| currency:"&#2547"}}</button>



<script type="text/ng-template" id="index.html">

</script>

<div ng-view></div>

<script src="route.js"></script>

<!-- Modal -->
  <div class="modal fade" id="cart" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{cart.length}} items in cart, {{getCartPrice()| currency:"&#2547"}}</h4>
        </div>


        <div class="modal-body">
<!--//////////////////////////////////////////////////////////////////-->
    <div>

      <p class="cart-item th radius" ng-repeat="product in cart">

        <span class="glyphicon glyphicon-plus operation" ng-click="addToCart(product);"></span>
        <span class="badge" ng-model="quantity" ng-show="product.quantity > 0">
          {{product.quantity}}
        </span>
      <span class="glyphicon glyphicon-minus operation" ng-click="deleteToCart(product,$index);"></span>

        <img  class="img1" ng-src="{{product.image}}" title="{{product.title}}"/>
        <!--<span >{{product.title}}</span>-->
        <span class="operation2"></span>
        <span class="operation1">
        {{calculate(product.quantity,product.price)| currency:"&#2547"}} &nbsp;&nbsp;
        <span class="glyphicon glyphicon-remove" ng-click="removeToCart($index);"></span>
        </span>


      </p>

<span ng-show="cart.length > 0">
  <form role="form">

    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control"  ng-model="name" placeholder="Name">
    </div>

    <div class="form-group">
      <label for="phnnumber">Phone Number:</label>
      <input type="text" class="form-control"  ng-model="phn" placeholder="Phone Number">
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control"  ng-model="email" placeholder="Email-address">
    </div>

  </form>
</span>
  <br>

      <center><h3>For Helpline : 01817005326</h3></center>
      <button ng-click="checkout();"  type="submit" class="btn btn-success btn-block">Order</button>
      
    </div>



<!--/////////////////////////////////////////////////////////////////-->
        </div>


        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>


<!--/////////////////////////////////////////////////////////////////-->
<div ng-include="'output.html'"></div>


</body>
</html>