<!DOCTYPE html>
<html lang="en">
<head>
  <title>Garments</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="topnavber.css">
  <link rel="stylesheet" href="leftnavber.css">
  <link rel="stylesheet" href="style.css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  
  
</head>
<style type="text/css">
  #catagory{
    visibility: hidden;
    display: none;
  }
</style>  
<body>

<div class="row">
<div class="col-sm-2"></div>
<div class="col-sm-10">
<ul>

        <a href="#/">Home</a>
        <span class="active">/Male Product</span>
</ul>
</div>
</div>


<div ng-app="" ng-init="products=[
{id: 1,title:'male-1',image: 'images/Male/1.png',price: 100},
{id: 2,title:'male-2',image: 'images/Male/2.png',price: 110},
{id: 3,title:'male-3',image: 'images/Male/3.png',price: 120},
{id: 4,title:'male-4',image: 'images/Male/4.png',price: 130},
{id: 5,title:'male-5',image: 'images/Male/5.png',price: 140},
{id: 6,title:'male-6',image: 'images/Male/6.png',price: 140},
{id: 7,title:'male-7',image: 'images/Male/7.png',price: 150},
{id: 8,title:'male-8',image: 'images/Male/8.png',price: 160},
{id: 9,title:'male-9',image: 'images/Male/9.png',price: 170},
{id: 10,title:'male-10',image: 'images/Male/10.png',price: 180},
{id: 11,title:'male-11',image: 'images/Male/11.png',price: 190},
{id: 12,title:'male-12',image: 'images/Male/12.png',price: 200},
{id: 13,title:'male-13',image: 'images/Male/13.png',price: 210},
{id: 14,title:'male-14',image: 'images/Male/14.png',price: 220},
{id: 15,title:'male-15',image: 'images/Male/15.png',price: 230},
{id: 16,title:'male-16',image: 'images/Male/16.png',price: 240},
{id: 17,title:'male-17',image: 'images/Male/17.png',price: 250}]">

<div class="row">

    <div class="col-sm-2"></div>

    <div class="col-sm-10">

    <div class="col-sm-3"  ng-repeat="product in products">
    <br>
    <center>

    <img class="img operation" ng-src="{{product.image}}" alt="{{product.title}}" 
    ng-click="display(product.image)"
    data-toggle="modal" data-target="#display">
    <p>per piece</p>
    <p><strong>{{product.price| currency:"&#2547"}}</strong></p>

    <br>      
    <!--<p><b>{{product.title}}</b></p>--> 
    <button ng-click="addToCart(product);" class="btn btn-primary">Add to cart</button>
    <button ng-click="deleteToCart(product,$index);" class="btn btn-danger">Remove from cart</button>
    </center>

    </div>

    </div>


</div>
</div>






</body>
</html>