<!DOCTYPE html>
<html lang="en">
<head>
  <title>Garments</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="topnavber.css">
  <link rel="stylesheet" href="leftnavber.css">
  <link rel="stylesheet" href="style.css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  
  
</head>

   
<body>

<!-- Modal -->
  <div class="modal fade" id="display" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
<!--//////////////////////////////////////////////////////////////////-->
  <center>
   <img class="img3" ng-src="{{displayimage}}">
   </center>
<!--/////////////////////////////////////////////////////////////////-->
        </div>


        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>


<!--/////////////////////////////////////////////////////////////////-->
<br>

</body>
</html>