body{
	overflow-x: hidden;
}


#catagory{
  text-align: center;
  text-decoration: none;
  color: black;
}


.carousel-caption{
  color: black;
  height: 90px;
}
.img{
  height: 250px;
}

.img3{

  height: 350px;
}
.img1{
  width: 100px;
  height: 100px;
}

#display{
  margin-top: 5%;
}

#cart{
  margin-top: 5%;
}

.operation{
  cursor:pointer;
}

.operation1{
  cursor:pointer;
  float: right;
  margin-top: 7%;
}

.operation2{
 right: 0px; 
}

.btn:hover{
  box-shadow: 10px 10px 10px #888888;
}

.chk{
    background-color: #5cb85c;
    box-shadow: 10px 10px 10px #888888;
    position: fixed;
    z-index: 100;
    bottom: 50%;
    right: 0px; 
}

@media screen and (max-width: 480px) {
   .chk{
    width: 40%;
    
  }
.operation1{
  margin-top: 12%;
}

.operation2{
  margin-left: 5%;
}



}
  
/*
  .left{
    position: fixed;
  }

  nav.sidebar, .main{
    -webkit-transition: margin 200ms ease-out;
      -moz-transition: margin 200ms ease-out;
      -o-transition: margin 200ms ease-out;
      transition: margin 200ms ease-out;
  }

  .main{
    padding: 10px 10px 0 10px;
  }

@media screen and (max-width: 480px) {
   .sidebar{
    width: 100%;
    
  }
}

 @media (min-width: 765px) {

    .main{
      position: absolute;
      width: calc(100% - 40px); 
      margin-left: 40px;
      float: right;
    }

    nav.sidebar:hover + .main{
      margin-left: 200px;
    }

    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: 0px;
    }

    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
      text-align: center;
      width: 100%;
      margin-left: 0px;
    }
    
    nav.sidebar a{
      padding-right: 13px;
    }

    nav.sidebar .navbar-nav > li:first-child{
      border-top: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav > li{
      border-bottom: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
      padding: 0 0px 0 0px;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
      color: #777;
    }

    nav.sidebar{
      width: 200px;
      height: 100%;
      margin-left: -160px;
      float: left;
      margin-bottom: 0px;
    }

    nav.sidebar li {
      width: 100%;
    }

    nav.sidebar:hover{
      margin-left: 0px;
    }

    .forAnimate{
      opacity: 0;
    }
  }
   
  @media (min-width: 1330px) {

    .main{
      width: calc(100% - 200px);
      margin-left: 200px;

    }

    nav.sidebar{
      margin-left: 0px;
      float: left;
    }

    nav.sidebar .forAnimate{
      opacity: 1;
    }
  }

  nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, 
  nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #CCC;
    background-color: transparent;
  }

  nav:hover .forAnimate{
    opacity: 1;
  }
  section{
    padding-left: 15px;
  }
  
 */